<!-- Upper site navigation  -->
<section class="sect-top-navbar bg-gray-dark d-none d-lg-block">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark py-0">
            <div class="collapse navbar-collapse">
                <span class="navbar-text text-white mr-auto small">
                    <i class="fas fa-phone fa-rotate-90"></i>
                    <span class="ml-1">+44 207-889-0089</span>
                    <i class="fas fa-envelope ml-3"></i>
                    <span class="ml-1">support@iprime.com</span> 
                </span>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="contact.html" class="nav-link text-white small">Contact</a>
                    </li>
                    <li class="nav-item ml-2">
                        <a href="#" class="nav-link text-white small">FAQ</a>
                    </li>
                    <li class="nav-item ml-2">
                        <a href="#" class="nav-link text-white small">Help</a>
                    </li>
                    <li class="nav-item dropdown ml-2">
                        <a class="nav-link dropdown-toggle text-white small" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="assets/gb.svg" width="16" alt="English Language">
                            English
                        </a>
                        <div class="dropdown-menu dropdown-menu-right bg-dark text-white">
                            <a class="dropdown-item text-white" href="#">
                                <img src="/assets/gb.svg" width="16" alt="English Language">
                                English
                            </a>
                            <a class="dropdown-item text-white" href="#">
                                <img src="/assets/cn.svg" width="16" alt="English Language">
                                 中文简体
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</section>
<!-- Login/Register navigation -->
<section class="sect-mid-navbar py-3 m-0">
    <div class="container">
        <nav class="navbar navbar-light navbar-expand-lg bg-white py-0">
            <a class="navbar-brand py-0" href="#">
                <img class="logo" src="assets/logo.svg" alt="">
            </a>
            <button class="navbar-toggler border-0 text-primary ipr-nav-toggle" type="button" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mr-3">
                        <a href="#" class="btn btn-outline-primary px-5 shadow-none">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="btn btn-primary px-5">Register</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- Mobile navigation bar -->
    <div class="ipr-site-mobile-navigation">
        <div class="ipr-nav-hide h4 mr-2">
            <i class="fa fa-times text-primary"></i>
        </div>
        <div class="ipr-nav-content">
            <div class="accordion pt-3 mt-5 px-4" id="mobAccordion">
                <div class="card border-bottom shadow-none">
                    <div class="card-header bg-white p-0" id="headingOne">
                        <h5 class="mb-0 p-0">
                            <button class="btn btn-mobile-nav-link shadow-none pl-0 d-flex w-100 align-items-center collapsed" type="button" data-toggle="collapse" data-target="#mobHomeLinks" aria-expanded="true" aria-controls="mobAccordion">
                                Home
                                <i class="fas fa-plus ml-auto"></i>
                                <i class="fas fa-minus ml-auto"></i>
                            </button>
                        </h5>
                    </div>
                    <div id="mobHomeLinks" class="collapse pb-3" data-parent="#mobAccordion">
                        <div class="card-body p-0 mt-2">
                            <a href="#" class="d-block my-2">Link #1</a>
                            <a href="#" class="d-block my-2">Link #2</a>
                            <a href="#" class="d-block my-2">Link #3</a>
                        </div>
                    </div>
                </div>
                <div class="card border-bottom shadow-none">
                    <div class="card-header bg-white p-0" id="headingTwo">
                        <h5 class="mb-0 p-0">
                            <button class="btn btn-mobile-nav-link shadow-none pl-0 d-flex w-100 align-items-center collapsed" type="button" data-toggle="collapse" data-target="#mobTradingAccountsLinks" aria-expanded="true" aria-controls="mobAccordion">
                                Trading Accounts
                                <i class="fas fa-plus ml-auto"></i>
                                <i class="fas fa-minus ml-auto"></i>
                            </button>
                        </h5>
                    </div>
                    <div id="mobTradingAccountsLinks" class="collapse pb-3" data-parent="#mobAccordion">
                        <div class="card-body p-0 mt-2">
                            <a href="#" class="d-block my-2">Link #1</a>
                            <a href="#" class="d-block my-2">Link #2</a>
                            <a href="#" class="d-block my-2">Link #3</a>
                        </div>
                    </div>
                </div>
                <div class="card border-bottom shadow-none">
                    <div class="card-header bg-white p-0" id="headingThree">
                        <h5 class="mb-0 p-0">
                            <button class="btn btn-mobile-nav-link shadow-none pl-0 d-flex w-100 align-items-center collapsed" type="button" data-toggle="collapse" data-target="#mobProducts" aria-expanded="true" aria-controls="mobAccordion">
                                Products
                                <i class="fas fa-plus ml-auto"></i>
                                <i class="fas fa-minus ml-auto"></i>
                            </button>
                        </h5>
                    </div>
                    <div id="mobProducts" class="collapse pb-3" data-parent="#mobAccordion">
                        <div class="card-body p-0 mt-2">
                            <a href="#" class="d-block my-2">Link #1</a>
                            <a href="#" class="d-block my-2">Link #2</a>
                            <a href="#" class="d-block my-2">Link #3</a>
                        </div>
                    </div>
                </div>
                <div class="card border-bottom shadow-none">
                    <div class="card-header bg-white p-0" id="haedingFour">
                        <h5 class="mb-0 p-0">
                            <button class="btn btn-mobile-nav-link shadow-none pl-0 d-flex w-100 align-items-center collapsed" type="button" data-toggle="collapse" data-target="#mobPlatforms" aria-expanded="true" aria-controls="mobAccordion">
                                Platforms
                                <i class="fas fa-plus ml-auto"></i>
                                <i class="fas fa-minus ml-auto"></i>
                            </button>
                        </h5>
                    </div>
                    <div id="mobPlatforms" class="collapse pb-3" data-parent="#mobAccordion">
                        <div class="card-body p-0 mt-2">
                            <a href="#" class="d-block my-2">Link #1</a>
                            <a href="#" class="d-block my-2">Link #2</a>
                            <a href="#" class="d-block my-2">Link #3</a>
                        </div>
                    </div>
                </div>
                <div class="card border-bottom shadow-none">
                    <div class="card-header bg-white p-0" id="headingFive">
                        <h5 class="mb-0 p-0">
                            <button class="btn btn-mobile-nav-link shadow-none pl-0 d-flex w-100 align-items-center collapsed" type="button" data-toggle="collapse" data-target="#mobWhyiPrime" aria-expanded="true" aria-controls="mobAccordion">
                                Why iPrime
                                <i class="fas fa-plus ml-auto"></i>
                                <i class="fas fa-minus ml-auto"></i>
                            </button>
                        </h5>
                    </div>
                    <div id="mobWhyiPrime" class="collapse pb-3" data-parent="#mobAccordion">
                        <div class="card-body p-0 mt-2">
                            <a href="#" class="d-block my-2">Link #1</a>
                            <a href="#" class="d-block my-2">Link #2</a>
                            <a href="#" class="d-block my-2">Link #3</a>
                        </div>
                    </div>
                </div>
                <div class="card border-bottom shadow-none">
                    <div class="card-header bg-white p-0" id="headingSix">
                        <h5 class="mb-0 p-0">
                            <button class="btn btn-mobile-nav-link shadow-none pl-0 d-flex w-100 align-items-center collapsed" type="button" data-toggle="collapse" data-target="#mobLanguage" aria-expanded="true" aria-controls="mobAccordion">
                                English
                                <i class="fas fa-plus ml-auto"></i>
                                <i class="fas fa-minus ml-auto"></i>
                            </button>
                        </h5>
                    </div>
                    <div id="mobLanguage" class="collapse pb-3" data-parent="#mobAccordion">
                        <div class="card-body p-0 mt-2">
                            <a class="d-block my-2" href="#">
                                <img src="/assets/gb.svg" width="16" alt="English Language">
                                English
                            </a>
                            <a class="d-block my-2" href="#">
                                <img src="/assets/cn.svg" width="16" alt="English Language">
                                中文简体
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card border-bottom shadow-none">
                    <div class="card-header bg-white p-0" id="headingSeven">
                        <h5 class="mb-0 p-0">
                            <button class="btn btn-mobile-nav-link shadow-none pl-0 d-flex w-100 align-items-center collapsed" type="button" aria-expanded="true" aria-controls="mobAccordion">
                                Search
                                <i class="fas fa-search ml-auto"></i>
                            </button>
                        </h5>
                    </div>
                </div>
                <div class="card border-bottom shadow-none">
                    <div class="card-header bg-white p-0" id="headingEight">
                        <h5 class="mb-0 p-0">
                            <button class="btn btn-mobile-nav-link shadow-none pl-0 d-flex w-100 align-items-center collapsed" type="button" data-toggle="collapse" data-target="#mobContact" aria-expanded="true" aria-controls="mobAccordion">
                                Contact
                                <i class="fas fa-plus ml-auto"></i>
                                <i class="fas fa-minus ml-auto"></i>
                            </button>
                        </h5>
                    </div>
                    <div id="mobContact" class="collapse pb-3" data-parent="#mobAccordion">
                        <div class="card-body p-0">
                            <div class="mb-3">
                                <i class="fas fa-phone fa-rotate-90"></i>
                                <span class="ml-1">+44 207-889-0089</span>
                            </div>
                            <div>
                                <i class="fas fa-envelope"></i>
                                <span class="ml-1">support@iprime.com</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-bottom shadow-none">
                    <div class="card-header bg-white p-0" id="headingHelp">
                        <h5 class="mb-0 p-0">
                            <button class="btn btn-mobile-nav-link shadow-none pl-0 d-flex w-100 align-items-center collapsed" type="button" data-toggle="collapse" data-target="#mobHelp" aria-expanded="true" aria-controls="mobAccordion">
                                Help
                                <i class="fas fa-plus ml-auto"></i>
                                <i class="fas fa-minus ml-auto"></i>
                            </button>
                        </h5>
                    </div>
                    <div id="mobHelp" class="collapse pb-3" data-parent="#mobAccordion">
                        <div class="card-body p-0 mt-2">
                            <a href="#" class="d-block my-2">Link #1</a>
                            <a href="#" class="d-block my-2">Link #2</a>
                            <a href="#" class="d-block my-2">Link #3</a>
                        </div>
                    </div>
                </div>
                <div class="card border-bottom shadow-none">
                    <div class="card-header bg-white p-0" id="headingFAQ">
                        <h5 class="mb-0 p-0">
                            <button class="btn btn-mobile-nav-link shadow-none pl-0 d-flex w-100 align-items-center collapsed" type="button" data-toggle="collapse" data-target="#mobFAQ" aria-expanded="true" aria-controls="mobAccordion">
                                FAQ
                                <i class="fas fa-plus ml-auto"></i>
                                <i class="fas fa-minus ml-auto"></i>
                            </button>
                        </h5>
                    </div>
                    <div id="mobFAQ" class="collapse pb-3" data-parent="#mobAccordion">
                        <div class="card-body p-0 mt-2">
                            <a href="#" class="d-block my-2">Link #1</a>
                            <a href="#" class="d-block my-2">Link #2</a>
                            <a href="#" class="d-block my-2">Link #3</a>
                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <div class="mb-2">
                        <a href="#" class="btn px-5 btn-outline-primary d-block">Login</a>
                    </div>
                    <div>
                        <a href="#" class="btn px-5 btn-primary d-block">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Main Navigation -->
<section class="sect-main-menu border-top border-gray-light d-none d-lg-block">
    <div class="container">
        <nav class="navbar navbar-light navbar-expand-lg bg-white ">
            <div class="collapse navbar-collapse justify-content-center">
                <ul class="navbar-nav w-100 d-flex justify-content-between">
                    <li class="nav-item nav-item--breadcrumb d-flex flex-grow-1 justify-content-center">
                        <a href="#" class="nav-link active font-weight-light">Home</a>
                    </li> 
                    <li class="nav-item dropdown d-flex flex-grow-1 justify-content-center dropdown">
                        <a class="nav-link dropdown-toggle font-weight-light" href="#" id="tradingAccountsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Trading Accounts
                        </a>
                        <div class="dropdown-menu w-100">
                            <a href="#" class="dropdown-item font-weight-light">Classic Account</a>
                            <a href="#" class="dropdown-item font-weight-light">Pro Trading Account</a>
                            <a href="#" class="dropdown-item font-weight-light">Demo Account</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown d-flex flex-grow-1 justify-content-center">
                        <a class="nav-link dropdown-toggle font-weight-light" href="#" id="productsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Products
                        </a>
                        <div class="dropdown-menu w-100">
                            <a href="#" class="dropdown-item font-weight-light">Option 1</a>
                            <a href="#" class="dropdown-item font-weight-light">Option 2</a>
                            <a href="#" class="dropdown-item font-weight-light">Option 3</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown d-flex flex-grow-1 justify-content-center">
                        <a class="nav-link dropdown-toggle font-weight-light" href="#" id="platformsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Platforms
                        </a>
                        <div class="dropdown-menu w-100">
                            <a href="#" class="dropdown-item font-weight-light">Option 1</a>
                            <a href="#" class="dropdown-item font-weight-light">Option 2</a>
                            <a href="#" class="dropdown-item font-weight-light">Option 3</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown d-flex flex-grow-1 justify-content-center">
                        <a class="nav-link dropdown-toggle font-weight-light" href="#" id="whyIPrimeDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Why iPrime
                        </a>
                        <div class="dropdown-menu w-100">
                            <a href="#" class="dropdown-item font-weight-light">Option 1</a>
                            <a href="#" class="dropdown-item font-weight-light">Option 2</a>
                            <a href="#" class="dropdown-item font-weight-light">Option 3</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown d-flex flex-grow-1 justify-content-center">
                        <a href="#" class="nav-link font-weight-light"><i class="fa fa-search mr-2"></i> Search</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</section>