<script src="/plugins/ipr-navbar.js"></script>
<script>
    iprNavbar.setConfig('50vw', {
        size: '40vw',
        responsive: [{
                breakpoint: 480,
                size: '100vw'
            },
            {
                breakpoint: 600,
                size: '50vw'
            }
        ]
    })
</script>