<div class="container mt-3 mb-4">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-3 mb-5 mb-xl-0">
            <img class="mb-3 logo" src="/assets/logo-footer.svg" alt="">
            <p class="mt-4 text-white">
                Forex, Commodities & CFDs trading on Stocks, Indices, Energy and Precious Metals by iPrime.
            </p>
            <a href="#" class="btn mt-3 btn-primary text-uppercase">Create Account</a>
            <div class="social-icons mt-3">
                <a href="#" class="d-inline-block text-center rounded-circle mr-1 text-secondary">
                    <span class="fab fa-facebook-f text-white"></span>
                </a>
                <a href="#" class="d-inline-block text-center rounded-circle mr-1 text-secondary">
                    <span class="fab fa-twitter text-white"></span>
                </a>
                <a href="#" class="d-inline-block text-center rounded-circle mr-1 text-secondary">
                    <span class="fab fa-linkedin-in text-white"></span>
                </a>
                <a href="#" class="d-inline-block text-center rounded-circle mr-1 text-secondary">
                    <span class="fab fa-google-plus-g text-white"></span>
                </a>
                <a href="#" class="d-inline-block text-center rounded-circle mr-1 text-secondary">
                    <span class="fab fa-instagram text-white"></span>
                </a>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-5 mb-xl-0">
            <h6 class="text-uppercase font-weight-bold text-white">Contact Info</h6>
            <ul class="list-unstyled mt-4">
                <li class="font-weight-bold">Address: </li>
                <li>Artemis House</li>
                <li>76 Fort Street</li>
                <li>Grand Cayman, KY1-1111</li>
                <li class="mb-3">Cayman Islands</li>
                <li class="font-weight-bold">Email: </li>
                <li class="mb-3">support@iprime.com</li>
                <li class="font-weight-bold">Phone number:</li>
                <li class="mb-3">+44 207-889-0089</li>
            </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-5 mb-xl-0"> 
            <h6 class="text-uppercase font-weight-bold text-white">Policies</h6>
            <ul class="list-unstyled mt-4">
                <li>
                    <a href="#" class="text-white card-link">Privacy Policy</a>
                </li>
                <li class="mt-3">
                    <a href="#" class="text-white card-link">Risk Warning</a>
                </li>
                <li class="mt-3">
                    <a href="#" class="text-white card-link">Terms of Business</a>
                </li>
                <li class="mt-3">
                    <a href="#" class="text-white card-link">Treating Customers Fairly</a>
                </li>
                <li class="mt-3">
                    <a href="#" class="text-white card-link">Conﬂict of Interest</a>
                </li>
                <li class="mt-3">
                    <a href="#" class="text-white card-link">Complaints Policy</a>
                </li>
                <li class="mt-3">
                    <a href="#" class="text-white card-link">Order Execution Policy</a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-3 pr-0">
            <h6 class="text-uppercase font-weight-bold text-white">Recent News</h6>
            <ul class="list-unstyled mt-4">
                <li>
                    <a href="#" class="card-link text-white">
                        <strong>The market reacts to FOMC</strong>
                        <p class="text-white">27 September 2018</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="card-link text-white">
                        <strong>Business conﬁdence brieﬂy drives</strong>
                        <p class="text-white">New Zealand Dollar higher</p>
                        <p class="text-white">27 September 2018</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="card-link text-white">
                        <strong>The market reacts to FOMC</strong>
                        <p class="text-white">27 September 2018</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <p class="mt-3 small text-white">Forex and CFDs are complex financial instruments with high risk due to leverage.
        Trading is risky and may not be suitable for everyone.
        Ensure you understand the risks involved as you may lose your capital.
        Please read the detailed <a class="text-white" href="#"><u>Risk Warning.</u></a></p>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-gray-dark border-top border-dark-gray">
    <div class="container">
        <span class="text-white">© iPrime - 2019. All rights reserved.</span>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link font-weight-normal text-white" href="#">Home</a>
                </li>
                <li class="nav-item ml-2">
                    <a class="nav-link font-weight-normal text-white" href="#">Trading Accounts</a>
                </li>
                <li class="nav-item ml-2">
                    <a class="nav-link font-weight-normal text-white" href="#">Products</a>
                </li>
                <li class="nav-item ml-2">
                    <a class="nav-link font-weight-normal text-white" href="#">Platforms</a>
                </li>
                <li class="nav-item ml-2">
                    <a class="nav-link font-weight-normal text-white" href="/whyiprime.html?selected=about-us">Why iPrime</a>
                </li>
            </ul>
        </div>
    </div>
</nav>